.formContainer {
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	height: 100%;
}
form {
	display: flex;
	flex-direction: column;
	gap: 32px;
	background-color: #060b23;
	margin: auto;
	width: fit-content;
	padding: 30px;
	border-radius: 1.5rem;
}
.inputGroup {
	position: relative;
	width: 20rem;
	height: 3rem;
}
.inputGroup input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #e1e5ee;
	border-radius: 1.5rem;
	font-family: inherit;
	font-size: inherit;
	color: white;
	outline: none;
	padding: 1.25rem;
	background: none;
}
select option {
	color: white;
	background-color: #060b23;
}
.inputGroup select {
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 2px solid #e1e5ee;
	border-radius: 1.5rem;
	font-family: inherit;
	font-size: inherit;
	color: white;
	outline: none;
	padding-top: 0.71rem;
	padding-bottom: 0.71rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	background: none;
}
.inputGroup input:focus,
.inputGroup input:hover,
.inputGroup select:focus,
.inputGroup select:hover,
.inputGroup input[type='number']:focus ~ div svg,
.inputGroup input[type='number']:hover ~ div svg {
	border-color: #18ffff;
}
.inputGroup label {
	position: absolute;
	left: 1rem;
	top: 0.8rem;
	padding: 0 0.5rem;
	color: white;
	cursor: text;
	transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
	background-color: #060b23;
}

.inputGroup select ~ label,
.inputGroup input:focus ~ label,
.inputGroup input:not(:placeholder-shown):not(:focus) ~ label {
	top: -0.5rem;
	font-size: 0.8rem;
	left: 0.8rem;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.inputGroup input:disabled,
.inputGroup select:disabled {
	cursor: not-allowed;
	opacity: 0.7;
	color: #d1d5db;
	border-color: #767676ba;
}

.inputGroup input[type='number'] {
	text-align: center;
}
.inputGroup input[type='number']::-webkit-inner-spin-button,
.inputGroup input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.inputGroup input[type='number'] ~ label {
	left: 50% !important;
	transform: translateX(-50%) !important;
}
.qty-btn {
	border-radius: 1.5rem;
	position: relative;
	padding: 0.5rem;
	width: 30px;
	height: 30px;
	color: #e1e5ee;
	cursor: pointer;
	border-color: #e1e5ee;
}
.qty-btn.btn-l {
	border-right: 2px solid;
}
.qty-btn.btn-r {
	border-left: 2px solid;
	right: 0px;
}
.qty-btn:hover {
	border-color: #18ffff;
	color: #18ffff;
}
