{ "importOrder": ["^@/components/(.*)$", "^@/util/(.*)$"], "importOrderSeparation": true, "importOrderSortSpecifiers": true, "tabWidth": 3, "useTabs": true, "endOfLine": "lf", "singleQuote": true, "semi": false, "printWidth": 1000 }
