@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');html {
	min-height: 100vh;
	background: linear-gradient(to bottom right, #38a2d7, #561139);
}
body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #18ffff;
}
details,
button,
label {
	user-select: none;
}
label {
	white-space: nowrap;
}
.transparentContent {
	color: transparent !important;
	font-size: 1px !important;

}
